{% if request.path == '/collections/all' or request.path == '/collections/types'
%}{% assign all = true %}{% endif %} {% if request.path == '/collections/types'
%} {% assign filtered = true %} {% endif %}
{% assign url = canonical_url | remove: shop.url | downcase %}

{% if url == "/collections/types?q=" %}
{% assign unknown = true %}
{% endif %}
<div
  id="collection-splash"
  {%
  if
  all
  %}class="bg-teal"
  style="background-image: url({{
    settings.teal_texture | img_url: 'master'
  }});"
  {%
  else
  %}
  style="background-image: url('{{ collection.image | img_url: 'master' }}');"
  {%
  endif
  %}
>
  <div class="title white">
    <h1>
      {% if filtered %}All Products / {% endif %}{% if unknown %}Unknown Type{% else %}{{ collection.title }}{% endif%}
    </h1>
  </div>
</div>

<div id="collection" class="medium-down--pt-3 medium-down--pb-2 pt-4 pb-2">
  {% if all %}
  <div class="grid mb-3">
    <div class="grid__item">
     
      <ul id="product-type-list" class="small large-up--mb-3">
        <li style="display: block">
          <a href="/collections/all"  {%
            if
            url
            contains
            "/collections/all"
            %}
            class="active"
            {%
            endif
            %}>All Products</a>
        </li>
        {% for product_type in shop.types %} {% assign typeLink =
        "/collections/types?q=" | append: product_type | downcase | replace: '
        ', '+' %}  {% if product_type
        == blank %}{% endif %}

        <li data-filter="{{ product_type }}">
          <a
            href="{{ typeLink }}"
            {%
            if
            url
            ==
            typeLink
            %}
            class="active"
            {%
            endif
            %}
            >{% if product_type == blank %}Unknown Type{%else%}{{ product_type }}{%
            endif %}</a
          >
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}
  <div class="grid">
    {% paginate collection.products by 20 %} {% for product in
    collection.products %}
    <div
      class="grid__item  medium--one-half large-up--one-third  widescreen--one-quarter small--mb-2 mb-3 {% if product.available %}available{% else %}soldout{% endif %}"
    >
      {% if product.featured_image != blank %}
      <a href="{{ product.url | within: collection }}">
        <!--
        {% include 'responsive-image' with image: product.featured_image,
        max_width: 1400, max_height: 1600 %}
-->

        <div class="product-container">
          <img src="{{ product.featured_image | img_url: 'master' }}" alt="" />
          {% for option in product.options_with_values %}
            {% if option.name == "Color" %}
              <div class="swatch-container">
                {% for value in option.values %}
                  <div class="swatch" style="background-color: {{value}}">

                  </div>
                {% endfor%}
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </a>
      {% endif %}

      <p class="mt-1">
        <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
      </p>
      <p>
        <b>{{ product.price | money }}</b>
      </p>
    </div>
    {% endfor %}
  </div>
  {% if paginate.pages > 1 %}
  <div class="mb-2 medium-up--mb-3">
     {% include 'pagination' %} 
  </div>
  {% endif %} {%
    endpaginate %}
</div>

<script>
  // Set padding-right on collection to = sidebar
  // save original padding

  $(window).on("load resize", function() {
    var windowWidth = $(window).width();

    if (windowWidth > 1800) {
      var sidebarWidth = $("#side").innerWidth();
      $("#collection").css("padding-left", sidebarWidth);
      $("#collection").css("padding-right", sidebarWidth);
    } else {
      $("#collection").css("padding-left", "4vw");
      $("#collection").css("padding-right", "4vw");
    }
  });

  /*
  // remove extra active filter if necessary
  $(document).ready(function() {
    var $filters = $("#product-type-list a.active");
    var numActive = $filters.length;
    if (numActive > 1) {
      $filters.first().removeClass("active");
    }
  }); */
</script>
