<div
  id="collection-splash"
  style="background-image: url('{{ collection.image | img_url: 'master' }}');"
>
  <div class="title white">
    <h1>{{ collection.title }}</h1>
  </div>
</div>

<div id="collection" class="pt-4 pb-3">
  <div class="grid grid--narrow">
    {% for product in collection.products %}
    <div
      class="grid__item one-third desk--one-quarter mb-3 {% if product.available %}available{% else %}soldout{% endif %}"
    >
      {% if product.featured_image != blank %}
      <a href="{{ product.url | within: collection }}">
        <!--
        {% include 'responsive-image' with image: product.featured_image,
        max_width: 1400, max_height: 1600 %}
-->

        <div class="product-container">
          <img src="{{ product.featured_image | img_url: 'master' }}" alt="" />
        </div>
      </a>
      {% endif %}
      <p class="mt-1">
        <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
      </p>
      <p>
        <b>{{ product.price | money }}</b>
      </p>
    </div>
    {% endfor %}
  </div>
</div>

<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"
></script>

<script>
  // Set padding-right on collection to = sidebar
  $(window).on("load resize", function() {
    var sidebarWidth = $("#side").innerWidth();
    $("#collection").css("padding-left", sidebarWidth);
    $("#collection").css("padding-right", sidebarWidth);
  });
</script>
