
<section data-section-id="{{ section.id }}" data-section-type="product">

  <div id="page" class="product-page">
    <div class="page-content">
     
  
  
      
        <div class="grid">
          <div class="grid__item medium-up--one-half">
            {%- assign current_variant = product.selected_or_first_available_variant -%}
            {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}
          
            {% for image in product.images %}
              {% capture wrapper_class %}
                {%- unless featured_image == image -%}
                  hide
                {%- endunless -%}
              {% endcapture %}
          
              <!--
              {% include 'responsive-image' with
                image: image,
                max_width: 700,
                max_height: 800,
                image_attributes: "data-product-featured-image",
                wrapper_class: wrapper_class,
                wrapper_attributes: "data-product-image-wrapper",
              %}
              -->
            {% endfor %}
          
            {% if product.images.size > 0 %}
            <!--
              <ul>
                {% for image in product.images %}
                  <li>
                    <a href="{{ image.src | img_url: '480x480' }}" data-thumbnail-id="{{ image.id }}" data-product-single-thumbnail{% if featured_image == image %} aria-current="true"{% endif %}>
                      <img class="product-single__thumbnail-image" src="{{ image.src | img_url: '160x160' }}" alt="{{ image.alt | escape }}">
                    </a>
                  </li>
                {% endfor %}
              </ul>
              -->
              <div id="product-images-container" class="small--mb-2">
                <div id="magnify">

                </div>
                <ul id="product-images">
                  {% for image in product.images %}
                    <li {% if forloop.first == true %}class="active"{% endif %}>
                      
                        <img src="{{ image.src | img_url: 'master' }}" alt="{{ image.alt | escape }}">
                    
                    </li>
                  {% endfor %}
                </ul>
                <div {% if product.images.size <= 1 %}class="hide"{% endif %}>
                  <div class="arrow-container">
                    <div class="prev arrow">
                      ←
                    </div>
                    <div class="next arrow">
                      →
                    </div>
                  </div>
                  <div class="counter small">
                    <span class="num">1</span>/<span class="denom">0</span>
                  </div>
                </div>
              </div>
            {% endif %}
          </div>
          <div class="grid__item medium-up--one-half">
            <h1 class="mb-1">{{ product.title }}</h1>

           <!-- <p>{{ product.vendor }}</p> -->
           <!-- PRICE -->
           <h3 class="mb-2 price">
            <div data-price-wrapper>
              <span data-product-price class="{% unless current_variant.available %}unavailable{% endunless %} {% unless product.available %}unavailable{% endunless %}">{{ current_variant.price | money }}</span>
        
              {% if product.compare_at_price_max > product.price %}
                <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
                <s data-compare-price>
                  {% if current_variant.compare_at_price > current_variant.price %}
                    {{ current_variant.compare_at_price | money }}
                  {% endif %}
                </s>
              {% endif %}
              
            </div>
           
           </h3>
           <div class="mb-2">
            <p>{{ product.description }}</p>
           </div>
           
          
           {% if product.available %}
           {% form 'product', product, data-product-form: '', data-product-handle: product.handle, data-enable-history-state: 'true' %}
           {% unless product.has_only_default_variant %}
           <div class="grid">
             {% for option in product.options_with_values %}
               <div class="grid__item mb-2 product-options">
           
                 <div class="js">
            <!-- VARIANTS -->
                  {% if option.name == "Size" or option.name == "Color" %}
                  

                   <!-- radio -->
                   <div class="{% if option.name == "Size" %}radio mb-1{% endif %} {% if option.name == "Color" %}color-radio{% endif %}">
                    <h3 class="mb-1">{{ option.name }}</h3>
                    {% for value in option.values %}
                      <input type="radio" id="Option{{ option.position }}-{{ value }}" name="options[{{ option.name }}]" value="{{ value }}"{% if option.selected_value == value %} checked{% endif %}>
                   <label for="Option{{ option.position }}-{{ value }}" {% if option.name == "Color" %}style="background-color: {{value}}"{% endif %}>{{ value }}</label>
                    {% endfor %}
                    </div>
                    
         
             
                  {% else %}
            
          
                   <!-- dropdown -->
                     <label for="Option{{ option.position }}">
                     <h3 class="mb-1">{{ option.name }}</h3>
                     </label>
           
                       <select class="select-css"
                         id="Option{{ option.position }}"
                         name="options[{{ option.name | escape }}]">
                         {% for value in option.values %}
                           <option
                             value="{{ value | escape }}"
                             {% if option.selected_value == value %}selected="selected"{% endif %}>
                               {{ value }}
                           </option>
                         {% endfor %}
                       </select>

                   {% endif %}
           
           
                 </div>
                 <!-- /.grid__item -->
               </div>
             {% endfor %}
           
           
             <!-- /.grid -->
           </div>
           {% endunless %}
           
           <noscript>
             <select name="id">
               {% for variant in product.variants %}
                 <option
                   {% if variant == current_variant %}selected="selected"{% endif %}
                   {% unless variant.available %}disabled="disabled"{% endunless %}
                   value="{{ variant.id }}">
                     {{ variant.title }}
                 </option>
               {% endfor %}
             </select>
           </noscript>
           
           <!-- QUANTITY -->
           <div class="mb-2">
               <label for="Quantity">
                   <h3 class="mb-1">{{ 'products.product.quantity' | t }}</h3>
                 </label>
             <div class="quantity-container">
               <span class="minus" onclick="this.parentNode.querySelector('.quantity-input').stepDown()">–</span>
               <input class="quantity-input" type="number" id="Quantity" name="quantity" value="1" min="1">
               <span class="plus" onclick="this.parentNode.querySelector('.quantity-input').stepUp()">+</span>
             </div>
           </div>
           
           <!-- SUBMIT -->
           <div>
             <button class="button {% unless product.available %}unavailable{% endunless %}"
               type="submit"
               name="add"
               data-submit-button
               {% unless current_variant.available %}disabled="disabled"{% endunless %}>
                 <span data-submit-button-text>
                   {% if current_variant.available %}
                     {{ 'products.product.add_to_cart' | t }}
                   {% else %}
                     {{ 'products.product.sold_out' | t }}
                   {% endif %}
                 </span>
             </button>
           </div>
           {% endform %}
           {% endif %}
          
      
          <div class="hide">
            {% if section.settings.show_share_buttons %}
              {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %} 
            {% endif %}
          </div>
  
          </div>
        </div>
  
        <!-- array of menu item titles -->
        {% assign menu_collections = linklists.sidebar-menu.links.first.links | map: 'title' %}

        {% for collection in product.collections %}
          {% if menu_collections contains collection.title %}
              <!-- only show related products if product belongs to a collection on menu -->


<!---------------------RELATED PRODUCTS ------------------------>

              <div class="grid pt-4">
                <div class="grid__item large-up--one-quarter">
                  <h2>Shop More from <a class="link" href={{ collection.url }}>{{collection.title}}</a></h2>
                </div>
                    
                      <!-- get 3 related products -->
                      {% assign relatedProductCount = 0 %}
                      {% for relatedProduct in collection.products %}
                        <!-- skip current product -->
                        {% if relatedProduct.title == product.title %}
                          {% continue %}
                        {% endif %}

                <div
                  class="grid__item product-card medium-up--one-third large-up--one-quarter small--mb-2 mb-3 {% if relatedProduct.available %}available{% else %}soldout{% endif %}"
                >
                        {% if relatedProduct.featured_image != blank %}
                        <a href="{{ relatedProduct.url | within: collection }}">
                          <!--
                          {% include 'responsive-image' with image: product.featured_image,
                          max_width: 1400, max_height: 1600 %}
                  -->
                  
                          <div class="product-container">
                            <img src="{{ relatedProduct.featured_image | img_url: 'master' }}" alt="" />
                            {% for option in relatedProduct.options_with_values %}
                              {% if option.name == "Color" %}
                                <div class="swatch-container">
                                  {% for value in option.values %}
                                    <div class="swatch" style="background-color: {{value}}">
                  
                                    </div>
                                  {% endfor%}
                                </div>
                              {% endif %}
                            {% endfor %}
                          </div>
                        </a>
                        {% endif %}
                  
                        <p class="mt-1">
                          <a href="{{ relatedProduct.url | within: collection }}">{{ relatedProduct.title }}</a>
                        </p>
                        <p>
                          <b>{{ relatedProduct.price | money }}</b>
                        </p>
                      </div>
                        
                        <!-- stop if 3 related products found -->
                        {% assign relatedProductCount = relatedProductCount | plus: 1 %}
                        {% if relatedProductCount == 3 %}
                          {% break %}
                        {% endif %}
                        
                      {% endfor %} <!-- /for relatedProduct in collection.products -->
        
              </div> <!-- /.grid -->



          {% endif %}
        {% endfor %} <!-- /for collection in product.collections -->


      
      
      
  
    
  
  
    </div>
    <div class="page-spacer"></div>
  </div>
  
  </section>
  

  
  <script>
    $(window).on("load resize", function() {
      var sidebarWidth = $("#side").innerWidth();
      $(".page-spacer").css("width", sidebarWidth);
    });
  </script>

  <!--
  <script src="/assets/scripts/setSpacerWidth.js"></script>-->


  
  <script>
    $(window).on('load', function(){
    var INDEX = 0;
    var $slideContainer = $('#product-images');
    var $slides = $('#product-images li');
    var $magnify = $('#magnify');
    var ZOOM = 1.5;

    var LENGTH = $slides.length;
    // set counter
    $('#product-images-container .denom').text(LENGTH);
    // set magnify
    setMagnify();
  
    function showSlide(i) {
      if (i < 0) {
        i += LENGTH;
      }
      i = i % LENGTH;
     
      $slides.eq(INDEX).removeClass('active');
      $slides.eq(i).addClass('active');
  
      INDEX = i;
      $('#product-images-container .num').text(INDEX + 1);
  
      // update magnifying glass
      setMagnify();

    }
    $('.prev').click(function() {
      showSlide(INDEX - 1);
    });
    $('.next').click(function() {
      showSlide(INDEX + 1);
    });

  

  

    function setMagnify() {
      var $activeImg = $('#product-images li.active img');
      var bgWidth = parseInt($activeImg.width()) * ZOOM;
      var bgHeight = parseInt($activeImg.height()) * ZOOM;
      $magnify.css({
        backgroundImage: "url('" + $activeImg.attr('src') +"')",
        backgroundSize: bgWidth + "px " + bgHeight + "px",
        
      });
    }

    $(window).mousemove(function(e) {
      var bounds = $('#product-images-container')[0].getBoundingClientRect();
      var arrowBounds = $('.arrow-container')[0].getBoundingClientRect();

      // check if magnifying glass is in bounds
      if (e.pageX > bounds.left && e.pageX < bounds.right && e.pageY > bounds.top && e.pageY < bounds.bottom) {
        // if inside, check if inside arrow container
        if (e.pageX > arrowBounds.left && e.pageX < arrowBounds.right && e.pageY > arrowBounds.top && e.pageY < arrowBounds.bottom) {
        $magnify.removeClass('visible');
        }
        else {
          $magnify.addClass('visible');
        }
      }
      else {
        $magnify.removeClass('visible');
      }
      var left = e.clientX - bounds.left;
      var top = e.clientY - bounds.top;
      var leftPercent = left / bounds.width;
      var topPercent = top / bounds.height;
      var bgX = -bounds.width * ZOOM * leftPercent + ($magnify.width() / 2) + "px";
      var bgY = -bounds.height * ZOOM * topPercent + ($magnify.height() / 2) +"px";
      $magnify.css({
        left: left,
        top: top,
        backgroundPosition: bgX + " " + bgY

      });   
    });
    

    });
  </script>
  

  <script>
    $('.quantity-input').focusout(function() {
   
    var $input = $(this);
    var min = $input.attr('min');

    // delete leading 0s
    $input.val($input.val().replace(/^0+/, ''));

     // replace vals < min with 0
    if ($input.val() < min) {
      $input.val(min);
    }

  });
  </script>



<textarea id="variant" class="mb-4 hide">{{product.selected_or_first_available_variant | json}}
</textarea>
<script>

var variants = {{product.variants | json}}
var numOptions = {{ product.options.size }}

// disable option1 options if unavailable
if (numOptions >= 1) {
 // var currVariant = JSON.parse($('#variant').text());
  var firstOption = {{product.options_with_values.first | json}}
  var firstOptionVals = firstOption.values;


  for (var i = 0; i < firstOptionVals.length; i++) {
    var currVal = firstOptionVals[i];

    // make a copy of variants to filter
    var variantsOfCurrVal = variants;
    variantsOfCurrVal = variantsOfCurrVal.filter(function(x){return x.option1 == currVal; });

    // for currVal, check if any of its variants are available
    var available = false;
    for (var j = 0; j < variantsOfCurrVal.length; j++) {
      if (variantsOfCurrVal[j].available) {
        available = true;
        break;
      }
    }

    // if available is false, disable currVal
    if (!available) {
      $('*[value="' + currVal + '" ]').attr('disabled', 'disabled');
    //  console.log("disable " + currVal);
    }
    
  }
}

$("#variant").change(function() {

  // link options if 2-3 options
  if (numOptions > 1) {
    var currVariant = JSON.parse($('#variant').text());
    var option1 = currVariant.option1;
    // make a copy of variants to filter
    var variantsOfOption1 = variants;
    variantsOfOption1 = variantsOfOption1.filter(function(x){return x.option1 == option1; });

    // loop through all variants of option
    for (var i = 0; i < variantsOfOption1.length; i++) {
      var currOption = variantsOfOption1[i].option2;

      if (!variantsOfOption1[i].available) {
        $('*[value="' + currOption + '" ]').attr('disabled', 'disabled');
      } else {
        $('*[value="' + currOption + '" ]').removeAttr('disabled');
      }
    }

    // repeat for option 3 if necessary
    if (numOptions == 3) {
      var option2 = currVariant.option2;
      // make a copy of variants to filter
      var variantsOfOption2 = variants;
      variantsOfOption2 = variantsOfOption2.filter(function(x){return x.option2 == option2; });

      // loop through all variants of option
      for (var i = 0; i < variantsOfOption2.length; i++) {
        var currOption = variantsOfOption2[i].option3;

        if (!variantsOfOption2[i].available) {
          $('option[value="' + currOption + '" ]').attr('disabled', 'disabled');
        } else {
          $('option[value="' + currOption + '" ]').removeAttr('disabled');
        }
      }
    }
  } 

  }).trigger('change');

</script>



  



<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Product",
    "name": "{{ product.title | escape }}",
    "url": "{{ shop.url }}{{ product.url }}",
    {% if product.featured_image %}
      {% assign image_size = product.featured_image.width | append: 'x' %}
      "image": [
        "https:{{ product.featured_image.src | img_url: image_size }}"
      ],
    {% endif %}
    "description": "{{ product.description | strip_html | escape }}",
    {% if current_variant.sku != blank %}
      "sku": "{{ current_variant.sku }}",
    {% endif %}
    "brand": {
      "@type": "Thing",
      "name": "{{ product.vendor | escape }}"
    },
    {% if product.variants %}
      "offers": [
        {% for variant in product.variants %}
          {
            "@type" : "Offer",
            "availability" : "http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}",
            "price" : "{{ variant.price | divided_by: 100.00 }}",
            "priceCurrency" : "{{ shop.currency }}",
            "url" : "{{ shop.url }}{{ variant.url }}",
            "itemOffered" :
            {
                "@type" : "Product",
                {% if variant.image %}
                  {% assign variant_image_size = variant.image.width | append: 'x' %}
                  "image": "http:{{ variant.image.src | img_url: variant_image_size }}",
                {% endif %}
                {% if variant.title != blank %}
                  "name" : "{{ variant.title | escape }}",
                {% endif %}
                {% if variant.sku != blank %}
                  "sku": "{{ variant.sku }}",
                {% endif %}
                {% if variant.weight != blank %}
                  "weight": {
                    "@type": "QuantitativeValue",
                    {% if variant.weight_unit != blank %}
                      "unitCode": "{{ variant.weight_unit }}",
                    {% endif %}
                    "value": "{{ variant.weight | weight_with_unit: variant.weight_unit }}"
                  },
                {% endif %}
                "url": "{{ shop.url }}{{ variant.url }}"
            }
          }{% unless forloop.last %},{% endunless %}
        {% endfor %}
      ]
    {% endif %}
  }
</script>
