<h1>asdfasd</h1>




<section data-section-id="{{ section.id }}" data-section-type="product">


  <div id="page" class="product-page">
    <div class="page-content">
     
  
  
      
        <div class="grid mb-4">
          <div class="grid__item medium-up--one-half">
            {%- assign current_variant = product.selected_or_first_available_variant -%}
            {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}
          
            {% for image in product.images %}
              {% capture wrapper_class %}
                {%- unless featured_image == image -%}
                  hide
                {%- endunless -%}
              {% endcapture %}
          
              <!--
              {% include 'responsive-image' with
                image: image,
                max_width: 700,
                max_height: 800,
                image_attributes: "data-product-featured-image",
                wrapper_class: wrapper_class,
                wrapper_attributes: "data-product-image-wrapper",
              %}
              -->
            {% endfor %}
          
            {% if product.images.size > 0 %}
            <!--
              <ul>
                {% for image in product.images %}
                  <li>
                    <a href="{{ image.src | img_url: '480x480' }}" data-thumbnail-id="{{ image.id }}" data-product-single-thumbnail{% if featured_image == image %} aria-current="true"{% endif %}>
                      <img class="product-single__thumbnail-image" src="{{ image.src | img_url: '160x160' }}" alt="{{ image.alt | escape }}">
                    </a>
                  </li>
                {% endfor %}
              </ul>
              -->
              <div id="product-images-container" class="small--mb-2">
                <ul id="product-images">
                  {% for image in product.images %}
                    <li {% if forloop.first == true %}class="active"{% endif %}>
                      
                        <img src="{{ image.src | img_url: 'master' }}" alt="{{ image.alt | escape }}">
                    
                    </li>
                  {% endfor %}
                </ul>
                <div {% if product.images.size <= 1 %}class="hide"{% endif %}>
                  <div class="arrow-container">
                    <div class="prev arrow">
                      ←
                    </div>
                    <div class="next arrow">
                      →
                    </div>
                  </div>
                  <div class="counter small">
                    <span class="num">1</span>/<span class="denom">0</span>
                  </div>
                </div>
              </div>
            {% endif %}
          </div>
          <div class="grid__item medium-up--one-half">
            <h1 class="mb-1">{{ product.title }}</h1>
           <!-- <p>{{ product.vendor }}</p> -->
           <!-- PRICE -->
           <h3 class="mb-2 price">
            <div data-price-wrapper>
              <span data-product-price class="{% unless current_variant.available %}unavailable{% endunless %} {% unless product.available %}unavailable{% endunless %}">
                {{ current_variant.price | money }}
              </span>
        
              {% if product.compare_at_price_max > product.price %}
                <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
                <s data-compare-price>
                  {% if current_variant.compare_at_price > current_variant.price %}
                    {{ current_variant.compare_at_price | money }}
                  {% endif %}
                </s>
              {% endif %}
              
            </div>
           
           </h3>
           <div class="mb-2">
            <p>{{ product.description }}</p>

           </div>
           
          
           {% if product.available %}
           {% form 'product', product, data-product-form: '', data-product-handle: product.handle, data-enable-history-state: 'true' %}
           {% unless product.has_only_default_variant %}
           <div class="grid">
             {% for option in product.options_with_values %}
               <div class="grid__item medium-up--one-half">
           
                 <div class="js">
            <!-- VARIANTS -->
                  {% if option.name == "Size" %}
                   <!-- radio -->
                   <h3 class="mb-1">{{ option.name }}</h3>
                   {% for value in option.values %}
                   <input type="radio" id="Option{{ option.position }}-{{ value }}" name="options[{{ option.name }}]" value="{{ value }}"{% if option.selected_value == value %} checked{% endif %}>
                   <label for="Option{{ option.position }}-{{ value }}">{{ value }}</label>
                 {% endfor %}
                  {% else %}
            
           
                  

                   <!-- dropdown -->
                   <div class="mb-2">
                     <label for="Option{{ option.position }}">
                     <h3 class="mb-1">{{ option.name }}</h3>
                     </label>
           
                       <select class="select-css"
                         id="Option{{ option.position }}"
                         name="options[{{ option.name | escape }}]">
                         {% for value in option.values %}
                           <option
                             value="{{ value | escape }}"
                             {% if option.selected_value == value %}selected="selected"{% endif %}>
                               {{ value }}
                           </option>
                         {% endfor %}
                       </select>
                   </div>

                   {% endif %}
           
           
                 </div>
                 <!-- /.grid__item -->
               </div>
             {% endfor %}
           
           
             <!-- /.grid -->
           </div>
           {% endunless %}
           
           <noscript>
             <select name="id">
               {% for variant in product.variants %}
                 <option
                   {% if variant == current_variant %}selected="selected"{% endif %}
                   {% unless variant.available %}disabled="disabled"{% endunless %}
                   value="{{ variant.id }}">
                     {{ variant.title }}
                 </option>
               {% endfor %}
             </select>
           </noscript>
           
           <!-- QUANTITY -->
           <div class="mb-2">
               <label for="Quantity">
                   <h3 class="mb-1">{{ 'products.product.quantity' | t }}</h3>
                 </label>
             <div class="quantity-container">
               <span class="minus" onclick="this.parentNode.querySelector('.quantity-input').stepDown()">–</span>
               <input class="quantity-input" type="number" id="Quantity" name="quantity" value="1" min="1">
               <span class="plus" onclick="this.parentNode.querySelector('.quantity-input').stepUp()">+</span>
             </div>
           </div>
           
           <!-- SUBMIT -->
           <div>
             <button class="button {% if !product.available or !current_variant.available %}unavailable{% endif %}"
               type="submit"
               name="add"
               data-submit-button
               {% unless current_variant.available %}disabled="disabled"{% endunless %}>
                 <span data-submit-button-text>
                   {% if current_variant.available %}
                     {{ 'products.product.add_to_cart' | t }}
                   {% else %}
                     {{ 'products.product.sold_out' | t }}
                   {% endif %}
                 </span>
             </button>
           </div>
           {% endform %}
           {% endif %}
          
      
          <div class="hide">
            {% if section.settings.show_share_buttons %}
              {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %} 
            {% endif %}
          </div>
  
          </div>
        </div>
  
        <!-- related products 
        <div class="grid">
          <div class="grid__item one-third">
            <h1>Related Products</h1>
          </div>
          <div class="grid__item two-thirds">
              
  
              {% for collection in product.collections %}
              {{ collection.title }}
          {% endfor %}
  
          </div>
        </div> -->
      
      
      
  
    
  
  
    </div>
    <div class="page-spacer"></div>
  </div>
  
  </section>
  

  
  <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"
  ></script>
  <script>
    $(window).on("load resize", function() {
      var sidebarWidth = $("#side").innerWidth();
      $(".page-spacer").css("width", sidebarWidth);
    });
  </script>
  
  <script>
    var INDEX = 0;
    var $slideContainer = $('#product-images');
    var $slides = $('#product-images li');
    var LENGTH = $slides.length;
    // set counter
    $('#product-images-container .denom').text(LENGTH);
  
    function showSlide(i) {
      if (i < 0) {
        i += LENGTH;
      }
      i = i % LENGTH;
     
      $slides.eq(INDEX).removeClass('active');
      $slides.eq(i).addClass('active');
  
     INDEX = i;
     $('#product-images-container .num').text(INDEX + 1);
  
    }
    $('.prev').click(function() {
      showSlide(INDEX - 1);
    });
    $('.next').click(function() {
      showSlide(INDEX + 1);
    });
  </script>
  

  <script>
    $('.quantity-input').focusout(function() {
   
    var $input = $(this);
    var min = $input.attr('min');

    // delete leading 0s
    $input.val($input.val().replace(/^0+/, ''));

     // replace vals < min with 0
    if ($input.val() < min) {
      $input.val(min);
    }

  });
  </script>

<div id="variants" style="display: non" class="mb-4">

  
  {%for variant in product.variants%}
<span class="title">{{variant.title}}</span> | {{variant.available}} <br>
{%endfor%}

</div>

<textarea id="variant" class="mb-4">{{product.selected_or_first_available_variant | json}}
</textarea>
<script>

var variants = {{product.variants | json}}
var numOptions = {{ product.options.size }}


$("#variant").change(function() {
  var currVariant = JSON.parse($('#variant').text());
  var option1 = currVariant.option1;
  var variantsOfOption1 = variants;
  variantsOfOption1 = variantsOfOption1.filter(function(x){return x.option1 == option1; });

  // loop through all variants of size x
  for (var i = 0; i < variantsOfOption1.length; i++) {
    var currOption = variantsOfOption1[i].option2;

    // hide if unavailable
    if (!variantsOfOption1[i].available) {
      // find option and disable
      $('option[value="' + currOption + '" ]').attr('disabled', 'disabled');
    } else {
      // find option and enable
      $('option[value="' + currOption + '" ]').removeAttr('disabled');
    }
  }

  }).trigger('change');

</script>



  



<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Product",
    "name": "{{ product.title | escape }}",
    "url": "{{ shop.url }}{{ product.url }}",
    {% if product.featured_image %}
      {% assign image_size = product.featured_image.width | append: 'x' %}
      "image": [
        "https:{{ product.featured_image.src | img_url: image_size }}"
      ],
    {% endif %}
    "description": "{{ product.description | strip_html | escape }}",
    {% if current_variant.sku != blank %}
      "sku": "{{ current_variant.sku }}",
    {% endif %}
    "brand": {
      "@type": "Thing",
      "name": "{{ product.vendor | escape }}"
    },
    {% if product.variants %}
      "offers": [
        {% for variant in product.variants %}
          {
            "@type" : "Offer",
            "availability" : "http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}",
            "price" : "{{ variant.price | divided_by: 100.00 }}",
            "priceCurrency" : "{{ shop.currency }}",
            "url" : "{{ shop.url }}{{ variant.url }}",
            "itemOffered" :
            {
                "@type" : "Product",
                {% if variant.image %}
                  {% assign variant_image_size = variant.image.width | append: 'x' %}
                  "image": "http:{{ variant.image.src | img_url: variant_image_size }}",
                {% endif %}
                {% if variant.title != blank %}
                  "name" : "{{ variant.title | escape }}",
                {% endif %}
                {% if variant.sku != blank %}
                  "sku": "{{ variant.sku }}",
                {% endif %}
                {% if variant.weight != blank %}
                  "weight": {
                    "@type": "QuantitativeValue",
                    {% if variant.weight_unit != blank %}
                      "unitCode": "{{ variant.weight_unit }}",
                    {% endif %}
                    "value": "{{ variant.weight | weight_with_unit: variant.weight_unit }}"
                  },
                {% endif %}
                "url": "{{ shop.url }}{{ variant.url }}"
            }
          }{% unless forloop.last %},{% endunless %}
        {% endfor %}
      ]
    {% endif %}
  }
</script>
