<div id="topbar-container" class="header {% if template.name == "collection" %}white{% endif %}">
    <div id="topbar">


    

       
        <ul>
            {% if shop.customer_accounts_enabled %}
                {% if customer %}
                <li class="medium-down--hide">
                    {% if customer.first_name != blank %}
                    {% capture first_name %}<a href="/account">{{ customer.first_name }}</a>{% endcapture %}
                    {{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}
                    {% else %}
                    <a href="/account">{{ 'layout.customer.account' | t }}</a>
                    {% endif %}
                </li>
                <li class="medium-down--hide">
                    {{ 'layout.customer.log_out' | t | customer_logout_link }}
                </li>
                {% else %}
                <li class="medium-down--hide">
                    {{ 'layout.customer.log_in' | t | customer_login_link }}
                </li>
                {% endif %}
            {% endif %}
            <li>
                <a href="/cart">
                    {{ 'layout.cart.title' | t }}
                    <span id="item-count">{{ cart.item_count }}</span>
                    {{cart.total_price | money}}
                </a>
            </li>
            <li class="medium-down--hide">
                <form class="search" action="/search">
                    <label>Search</label>
                    <input class="search-input" type="text" name="q" value="{{ search.terms | escape }}"  />
                    <input class="search-submit" type="submit" value="Search" />
                </form>
            </li>
        </ul>
        


    </div>
</div>