<!DOCTYPE html>
<html class="no-js supports-no-cookies" lang="{{ shop.locale }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="theme-color" content="{{ settings.color_accent }}" />
    <link rel="canonical" href="{{ canonical_url }}" />

    {%- if settings.favicon != blank -%}
    <link
      rel="shortcut icon"
      href="{{ settings.favicon | img_url: '32x32' }}"
      type="image/png"
    />
    {%- endif -%} {%- capture seo_title -%}
    {{
      page_title
    }}
    {%- if current_tags -%} {%- assign meta_tags = current_tags | join: ', ' -%}
    &ndash;
    {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {%- endif -%} {%- if current_page != 1 -%} &ndash;
    {{
      "general.meta.page" | t: page:current_page
    }}
    {%- endif -%} {%- assign escaped_page_title = page_title | escape -%} {%-
    unless escaped_page_title contains shop.name -%} &ndash;
    {{
      shop.name
    }}
    {%- endunless -%} {%- endcapture -%}
    <title>{{ seo_title | strip }}</title>

    {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}" />
    {%- endif -%} {% include 'social-meta-tags' %} {% include 'style-tags',
    layout: 'theme' %} {% include 'css-variables' %}

    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', '');

      window.theme = {
        strings: {
          addToCart: {{ 'products.product.add_to_cart' | t | json }},
          soldOut: {{ 'products.product.sold_out' | t | json }},
          unavailable: {{ 'products.product.unavailable' | t | json }}
        },
        moneyFormat: {{ shop.money_format | json }}
      };
    </script>

    {% include 'script-tags', layout: 'theme' %}

    {{
      content_for_header
    }}
  </head>

  <body
    id="{{ page_title | handle }}"
    class="template-{{ template.name | handle }}"
  >
    <div id="content">
      <input type="checkbox" id="hamburger" name="menu" class="hamburger" />

      <div id="side">
        <label
          class="hamburger-toggle hamburger {%if template.name == 'index' or template.name == 'list-collections' or template.name == 'collection' %}white{% endif %}"
          for="hamburger"
          ><span>Toggle</span></label
        >
        {% section 'header' %}
      </div>
      <div id="main">
        {% section 'header-top' %}
        <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{
          "general.accessibility.skip_to_content" | t
        }}</a>
        <main role="main" id="MainContent">
          {{ content_for_layout }}
        </main>
        <!--
      {% section 'footer' %} -->
      </div>
    </div>
  </body>
</html>

<script>
  if (document.getElementById("hamburger").checked) {
    console.log("checked");
  } else {
    console.log("unchecked");
  }
</script>

<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"
></script>

<script>
  $("html").click(function(e) {
    var targetClasses = e.target.classList;
    // return if hamburger
    if (targetClasses.contains("hamburger")) {
      return;
    }
    // if menu is open, close by unchecking box
    var menuOpen = $("#hamburger:checked").length > 0;
    if (menuOpen) {
      $("#hamburger").prop("checked", false);
      return false;
    }
  });

  // close menu on scroll + resize
  $(window).on("resize scroll", function() {
    var menuOpen = $("#hamburger:checked").length > 0;
    if (menuOpen) {
      $("#hamburger").prop("checked", false);
    }
  });

  $("#side section").click(function(event) {
    console.log("side clicked");
    event.stopPropagation();
  });
</script>

<script>
  // select all for search input
  $(".search-input").keydown(function(e) {
    var evtobj = window.event ? event : e;
    if (evtobj.keyCode == 65 && evtobj.metaKey) {
      $(this).select();
    }
  });
</script>
